# Environment variables
.env
.env.local
.env.production

# Data directories
**/data/
**/.mongodb
docs/

# IDE
.vs/
.vscode/
.idea/

*.pdf
# Build outputs
**/bin/
**/obj/
**/dist/
**/node_modules/

# Logs
*.log
nginx/.htpasswd
