@import "tailwindcss";

@theme {
  --color-primary: #163C65;
  --color-secondary: #7BA2D4;
  --color-third: #FFFFFF;
  --color-general: #333333;
  --color-general-secondary: #616161;
  --color-error: #EF5350;
  --color-success: #4CAF50;
  --color-warning: #FFD54F;
  --color-background-primary: #3A6EA5;
  --color-background-secondary: #7BA2D4;
  --color-background-third: #FFFFFF;
  --color-card: #FAFAFA;
}

@layer components {
  .primary-card { 
    @apply p-6 bg-card border-gray-300 border-2 rounded-lg shadow-md;
  }
  .secondary-card {
    @apply p-6 bg-white border-gray-300 border rounded-lg;
  }
}

.PhoneInput input:focus {
  outline: none !important;
}

.ant-dropdown-menu {
  min-width: 110px !important;
}
