# Esta es la plantilla que debes seguir para configurar tus variables de entorno
# Debes crear un archivo .env en la raiz del proyecto y copiar estas variables
# Coloca las credenciales de tus servicios

# Configuración de Keycloak
VITE_KEYCLOAK_URL=http://localhost:8081/
VITE_KEYCLOAK_REALM=nombre-de-tu-realm
VITE_KEYCLOAK_CLIENT_ID=client-id-dentro-de-tu-realm

# URL de la API
VITE_API_URL=url-de-tu-api

# URL de orval
ORVAL_API_URL=url-de-swagger 